<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Libros</title>
</head>
<body>

<h1>Lista de Libros</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Editorial</th>
        <th>Año</th>
        <th>ISBN</th>
        <th>Autor</th>
    </tr>

    <tr th:each="libro : ${libros}">
        <td th:text="${libro.id}"></td>
        <td th:text="${libro.titulo}"></td>
        <td th:text="${libro.editorial}"></td>
        <td th:text="${libro.anioPublicacion}"></td>
        <td th:text="${libro.isbn}"></td>
        <td th:text="${libro.autor.nombre}"></td>
    </tr>

</table>

<a href="/libros/nuevo">Nuevo libro</a>

</body>
</html>